.App {
  text-align: center;
}
nav{
  background-color: black;
  overflow: hidden;
  /* border-bottom: 2px solid rgba(233, 204, 44, 0.3); */
}
nav a{
  float: right;
  color: #e2970c;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: 'Scope One', serif;

}

nav .logo{
  float: left;
  color: #e2970c;
  margin-left: 1rem;
  
}
